{% extends 'header.html' %}

{% block content %}
      <div class="nav">
        <h2>– ENGLAND –</h2>
        <table class="content-nav"></table>
      </div>
      <div class="content" style="margin-top: 170px ;">
        <div class="clubs">
          <div class="club">
            {% for i in d_clubs %}
            <a href="../country-clubs.html">
              <img src="{{ i.logo.url }}" alt="" />
              {{ i.nom }}
            </a>
            {% endfor %}
          </div>
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
     {% endblock %}